<h1>Editing List</h1>


<td><%= render 'form', list: @list, locals: {action_name: "Edit"} %></td>
<br>

<td><%= link_to 'Show', @list, class: "btn btn-default btn-sm" %></td>
<td><%= link_to 'Back', lists_path, class: "btn btn-default btn-sm" %></td>
