<% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
        <%= flash[:notice]%>
    </div>
<%end%>

    <div class="alert alert-success" role="alert" style="display: none" id="added_success_message">
    </div>

<div class="box2", style="font-color: black">
    <h3><b>All Tv-Shows</b></h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th><h4><b>Name</b></h4></th>
            <th><h4><b>Status</b></h4></th>
            <th><h4><b>Season</b></h4></th>
            <th><h4><b>Episode</b></h4></th>
            <th><h4><b>Next Episode</b></h4></th>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @generals %>
    </tbody>
</table>

</table>
