<table class="table table-bordered table-table-hover">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Status</th>
            <th>Temporada</th>
            <th>Episodio</th>
            <th>Proximo Episodio</th>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @generals %>
    <% end %>
    </tbody>
</table>