 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar-brand {
  background-color: black;
  color:#000000;
  font-size: 30px;
}

.navbar {
  background-color: black;
  border: 1px solid #615f5f;
  font-size: 17px;
}
 
body {
  background-color: #3d4344;
}

h3 {
  color: black;
}

.container {
  width: 95%;
}

.container-form {
  background-color: darkgray;

}

.box2 {
  display: inline-block;
  width: 100%;
  margin-bottom: 40px;
}

.box3 {
  background-color: black;
}

.button{
  padding: 10px;
}

img {
  display: block;
  width: 95%;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;

}

table {
  border: aquamarine;
}